<app-nav [navColor]=0></app-nav>
<div class="py-10 px-10 text-center">
    <p class="text-3xl font-extrabold"> Hard skills</p>
    <p class="text-xl font-extrabold mt-5"> Project Management Skills </p>
    <div class="mt-10 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
        <div *ngFor="let pmSkill of pmSkills" class="mb-5">
            <div class="flex justify-center items-center">
                <span class="material-icons w-20 max-w-20 text-6xl ng-star-inserted text-bubble-gum">
                    {{pmSkill.icon}}
                </span>
            </div>
            <p class="text-md font-extrabold mt-5">{{pmSkill.name}} </p>
            <p>{{pmSkill.description}} </p>
        </div>
    </div>
    <p class="text-xl font-extrabold mt-5"> Technical Skills </p>
    <div class="mt-10 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
        <div *ngFor="let techSkill of techSkills" class="mb-5">
            <div class="flex justify-center items-center">
                <a href="{{techSkill.url}}" target="_blank">
                    <img class="w-16 h-16" src="assets/icons/{{techSkill.icon}}" alt="" title="">
                </a>
            </div>
            <p class="text-md font-extrabold mt-5">{{techSkill.name}} </p>
            <p>{{techSkill.description}} </p>
        </div>
    </div>
    <p class="text-3xl font-extrabold mt-10"> Soft skills</p>
    <div class="mt-10 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
        <div *ngFor="let softSkill of softSkills" class="mb-5">
            <div class="flex justify-center items-center">
                <span class="material-icons w-20 max-w-20 text-6xl ng-star-inserted text-blue">
                    {{softSkill.icon}}
                </span>
            </div>
            <p class="text-md font-extrabold mt-5">{{softSkill.name}} </p>
            <p>{{softSkill.description}} </p>
        </div>
    </div>
</div>
<app-footer [footerColor]=0></app-footer>