/* You can add global styles to this file, and also import other style files */
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--swiper-theme-color: #FFFFFF;
	--swiper-pagination-bullet-inactive-color: #FFFFFF;
}

.techText {
	font-family: 'Poppins', sans-serif;
}

.lightText {
	font-family: 'Montserrat', sans-serif;
}

.stylishText {
	font-family: 'Ms Madi', cursive;
}

.mainText {
	font-family: 'Noto Serif Georgian', serif;
}

