<nav class="p-2" [ngClass]="{'bg-black':navColor == 1}">
	<div class="container px-10 flex flex-wrap justify-between items-center mx-auto">
		<a href="#" class="flex items-center">
			<img src="assets/img/whiteLogo.svg" class="mr-3 h-20 md:h-24 lg:h-30" alt="mauricio montaño" />
		</a>
		<button data-collapse-toggle="mobile-menu" type="button" class="inline-flex justify-center items-center ml-3 text-white rounded-lg md:hidden hover:text-white focus:outline-none focus:ring-2 focus:ring-white dark:text-white dark:hover:text-white dark:focus:ring-gray-500" aria-controls="mobile-menu-2" aria-expanded="false">
			<span class="sr-only">Open main menu</span>
			<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
		</button>
		<div class="hidden w-full md:block md:w-auto" id="mobile-menu">
			<ul class="flex flex-col p-4 mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm">
				<li>
					<a class="text-silver text-sm hover:text-white hover:line-through uppercase" routerLink="/aboutme" routerLinkActive="active-link" (click)="changeNavColor(1)">More about me</a>
				</li>
				<li>
					<a class="text-silver text-sm hover:text-white hover:line-through uppercase" routerLink="/portafolio" routerLinkActive="active-link" (click)="changeNavColor(1)">Portafolio</a>
				</li>
				<li>
					<a class="text-silver text-sm hover:text-white hover:line-through uppercase" routerLink="/education" routerLinkActive="active-link" (click)="changeNavColor(0)">Education</a>
				</li>
				<li>
					<a class="text-silver text-sm hover:text-white hover:line-through uppercase" routerLink="/skills" routerLinkActive="active-link" (click)="changeNavColor(0)">Skills</a>
				</li>
				<li>
					<a class="text-silver text-sm hover:text-white hover:line-through uppercase" routerLink="/contact" routerLinkActive="active-link" (click)="changeNavColor(1)">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- <header id="header"
        class="flex justify-center p-10 bg-black"
        >
	<div class="h-full flex items-center py-1.5 pl-2 md:pl-4 lg:pl-6">
		<a class="h-10 w-10" routerLink="/main">
			<img class="h-full w-full" src="assets/img/whiteLogo.svg" alt="">
		</a>
	</div>
	<div
	    class="w-3/4 font-semibold flex justify-between animate-[wiggle_1s_ease-in-out_infinite]">
		<a class="text-silver text-sm hover:text-white hover:line-through uppercase" routerLink="/aboutme" routerLinkActive="active-link">Who am I</a>
		<a class="text-silver text-sm hover:text-white hover:line-through uppercase" routerLink="/main" routerLinkActive="active-link">Portafolio</a>
		<a class="text-silver text-sm hover:text-white hover:line-through uppercase" routerLink="/main" routerLinkActive="active-link">Education</a>
		<a class="text-silver text-sm hover:text-white hover:line-through uppercase" routerLink="/main" routerLinkActive="active-link">Skills</a>
		<a class="text-silver text-sm hover:text-white hover:line-through uppercase" routerLink="/main" routerLinkActive="active-link">Contact</a>
		<a routerLink="/blog" (click)="isSmallNavOpen = false" routerLinkActive="text-green-500">Blog</a>
	</div>
</header> -->
