<app-nav [navColor]=1></app-nav>
<main class="flex flex-col w-full min-h-screen justify-between">
    <div class="flex-grow flex-shrink-0 py-10 px-10 md:px-14 md:py-20 lg:px-10 lg:py-10 bg-black">
        <swiper [navigation]="true" [pagination]="true" class="mySwiper">
          <ng-template swiperSlide #tmate>
            <div class="flex justify-center items-start md:px-20">
                <div class="grid grid-cols-1 gap-8 md:grid-cols-1 lg:grid-cols-2">
                    <div class="flex justify-center items-center">
                        <swiper [loop]="true" [autoplay]="{ delay: 1000, disableOnInteraction: false }" [slidesPerView]="1" class="h-64 md:h-96 w-full">
                            <ng-template data-swiper-autoplay="2000" swiperSlide>
                                <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate1.png');">
                                </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000" swiperSlide>
                                <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate2.png');">
                                </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000" swiperSlide>
                                <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate3.png');">
                                </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000" swiperSlide>
                                <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate4.png');">
                                </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000" swiperSlide>
                                <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate5.png');">
                                </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                                <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate7.png');">
                                </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate8.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate9.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate10.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate11.png');">

                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate15.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate17.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate18.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate19.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate12.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate13.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/tmate14.png');">
                              </div>
                            </ng-template>
                        </swiper>
                    </div>
                    <div class="">
                        <p class="text-white">Jul 2023 - Dic 2023</p>
                        <a href="https://kobd.io/home" target="_blank" class="hover:underline">
                            <p class="text-3xl text-white font-extrabold uppercase">Tutor Mate</p>
                        </a>
                        <p class="text-md mt-4">
                          Tutormate is my Engineering Degree Project. It consists of a support web application for student-tutor pairing between ESCOM students, which uses an algorithm based on cellular automatas to match students, designed by my team and me, and which implements various data mining techniques to obtain  association rules to help administrative staff make better academic decisions.
                        </p>
                        <p class="text-md mt-4">
                          I've developed myself here as a Full Stack Developer and Project Manager
                          doing activities as the following:
                        </p>
                        <ul class="list-disc m-5">
                            <li>Architecture Design (Microservices)</li>
                            <li>Developing of multiple microservices (Users, Tutorships, Data Analysis) with technologies such as:
                              NodeJS, PostgreSQL, MongoDB, GraphQL, Docker, Nginx, Python, Google Cloud Platform, etc.
                            </li>
                            <li>Project Management with SCRUM</li>
                            <li>Project Tracking with JIRA</li>
                            <li>Elevator Pitch creation</li>
                            <!-- ... -->
                        </ul>
                        <div class="flex flex-wrap gap-2">
                          <a href="https://nodejs.org/" target="_blank">
                            <img class="w-12 h-12" src="assets/icons/nestjs.svg" alt="" title="">
                          </a>
                          <a href="https://nodejs.org/" target="_blank">
                              <img class="w-12 h-12" src="assets/icons/nodejs.png" alt="" title="">
                          </a>
                          <a href="https://www.postgresql.org/" target="_blank">
                              <img class="w-12 h-12" src="assets/icons/postgre.png" alt="" title="">
                          </a>
                          <a href="https://www.mongodb.com/" target="_blank">
                              <img class="w-12 h-12" src="assets/icons/mongodb.png" alt="" title="">
                          </a>
                          <a href="https://www.docker.com/" target="_blank">
                              <img class="w-12 h-12" src="assets/icons/docker.png" alt="" title="">
                          </a>
                          <a href="https://www.nginx.com/" target="_blank">
                              <img class="w-12 h-12" src="assets/icons/nginx.png" alt="" title="">
                          </a>
                          <a href="https://www.nginx.com/" target="_blank">
                            <img class="w-12 h-12" src="assets/icons/gcp.png" alt="" title="">
                          </a>
                          <a href="https://www.nginx.com/" target="_blank">
                            <img class="w-12 h-12" src="assets/icons/python.webp" alt="" title="">
                          </a>
                          <a href="https://www.jetbrains.com/es-es/youtrack/" target="_blank">
                              <img class="w-12 h-12" src="assets/icons/jira.png" alt="" title="">
                          </a>
                        </div>
                    </div>
                </div>
            </div>
          </ng-template>
          <ng-template swiperSlide #nba>
            <div class="flex justify-center items-start md:px-20">
                <div class="grid grid-cols-1 gap-8 md:grid-cols-1 lg:grid-cols-2">
                    <div class="flex justify-center items-center">
                        <swiper [loop]="true" [autoplay]="{ delay: 1000, disableOnInteraction: false }" [slidesPerView]="1" class="h-64 md:h-96 w-full">
                            <ng-template data-swiper-autoplay="2000" swiperSlide>
                                <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba2.png');">
                                </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000" swiperSlide>
                                <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba1.png');">
                                </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000" swiperSlide>
                                <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba3.png');">
                                </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000" swiperSlide>
                                <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba4.png');">
                                </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000" swiperSlide>
                                <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba5.png');">
                                </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                                <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba6.png');">
                                </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba7.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba8.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba9.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba10.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba11.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba12.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba13.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba14.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba15.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba16.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba18.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/nba19.png');">
                              </div>
                            </ng-template>
                        </swiper>
                    </div>
                    <div class="">
                        <p class="text-white">Jul 2023 - Dic 2023</p>
                        <a href="https://kobd.io/home" target="_blank" class="hover:underline">
                            <p class="text-3xl text-white font-extrabold uppercase">NBA DATA ANALYSYS</p>
                        </a>
                        <p class="text-md mt-4">
                          NBA Data Analisys is a project with the purpose of collecting NBA data from
                          different sources to analyze it and classify players according to
                          their attributes and predict if a player will have a low (lower 20%),
                          medium or high salary (top 20%).
                        </p>
                        <p class="text-md mt-4">
                          As the activities that I developed here are the following:
                        </p>
                        <ul class="list-disc m-5">
                          <li>Statistical Description of the Data</li>
                          <li>Data Preprocessing (Dara Cleaning, Data Integration, Data Reduction, Data Transformation, Data Discretization)</li>
                          <li>Data Warehousing and Online Analytical Processing:
                            Data Cube design and reduction according to different data models and
                            algorithms to a efficient creation.
                          </li>
                          <li>
                            Data Mining (Mining Frequent Patterns, Association Rules, Classification, Clustering)
                          </li>
                        </ul>
                        <div class="flex flex-wrap gap-2">
                          <a href="https://angular.io/" target="_blank">
                              <img class="w-12 h-12" src="assets/icons/python.webp" alt="" title="">
                          </a>
                          <a href="https://nodejs.org/" target="_blank">
                              <img class="w-12 h-12" src="assets/icons/jupyter.png" alt="" title="">
                          </a>
                          <a href="https://www.postgresql.org/" target="_blank">
                              <img class="w-12 h-12" src="assets/icons/postgre.png" alt="" title="">
                          </a>
                          <a href="https://www.mongodb.com/" target="_blank">
                              <img class="w-12 h-12" src="assets/icons/numpy.svg" alt="" title="">
                          </a>
                          <a href="https://graphql.org/" target="_blank">
                              <img class="w-12 h-12" src="assets/icons/pandas.png" alt="" title="">
                          </a>
                          <a href="https://www.docker.com/" target="_blank">
                            <img class="w-12 h-12" src="assets/icons/rapidminer.png" alt="" title="">
                          </a>
                        </div>
                    </div>
                </div>
            </div>
          </ng-template>
          <ng-template swiperSlide #cancer>
            <div class="flex justify-center items-start md:px-20">
                <div class="grid grid-cols-1 gap-8 md:grid-cols-1 lg:grid-cols-2">
                    <div class="flex justify-center items-center">
                        <swiper [loop]="true" [autoplay]="{ delay: 1000, disableOnInteraction: false }" [slidesPerView]="1" class="h-64 md:h-96 w-full">
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                                <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/cancer3.png');">
                                </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/cancer2.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/cancer1.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/cancer4.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/cancer5.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/cancer6.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/cancer7.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/cancer8.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/cancer9.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/cancer10.png');">
                              </div>
                            </ng-template>
                            <ng-template data-swiper-autoplay="2000"swiperSlide>
                              <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/cancer11.png');">
                              </div>
                            </ng-template>
                        </swiper>
                    </div>
                    <div class="">
                        <p class="text-white">Jul 2023 - Dic 2023</p>
                        <a href="https://kobd.io/home" target="_blank" class="hover:underline">
                            <p class="text-3xl text-white font-extrabold uppercase">BREAST CANCER DETECTION ANALYSYS</p>
                        </a>
                        <p class="text-md mt-4">
                          This study presents a comparison of 3 machine learning algorithms:
                          Multilayer Neural Network (MLP), Nearest Neighbor Search (KNN),
                          and Support Vector Machines (SVM) on the Wisconsin Breast Cancer
                          Diagnosis dataset (WDBC), measuring its accuracy in classification tests.
                          The aforementioned data set consists of features that were calculated
                          from digitized images of fine needle aspiration (FNA) tests on
                          different breast masses. For the implementation of the machine
                          learning algorithms, the data set was divided as follows:
                          80% for the training phase and 20% for the testing phase.
                        </p>
                        <p class="text-md mt-4 mb-5">
                          The dataset consists on ten characteristics recovered by image analysis: (1) radius,
                          (2) texture, (3) perimeter, (4) area, (5) smoothness, (6) compactness,
                          (7) concavity, (8) concave points, (9) symmetry and (10)
                          fractal dimension. It also contains the mean value,
                          extreme value (mean of the three largest values), and standard
                          error of each feature, returning a vector of 30 real values.
                        </p>
                        <div class="flex flex-wrap gap-2">
                          <a href="https://angular.io/" target="_blank">
                              <img class="w-12 h-12" src="assets/icons/python.webp" alt="" title="">
                          </a>
                          <a href="https://nodejs.org/" target="_blank">
                              <img class="w-12 h-12" src="assets/icons/jupyter.png" alt="" title="">
                          </a>
                          <a href="https://www.postgresql.org/" target="_blank">
                              <img class="w-12 h-12" src="assets/icons/postgre.png" alt="" title="">
                          </a>
                          <a href="https://www.mongodb.com/" target="_blank">
                              <img class="w-12 h-12" src="assets/icons/numpy.svg" alt="" title="">
                          </a>
                          <a href="https://graphql.org/" target="_blank">
                              <img class="w-12 h-12" src="assets/icons/pandas.png" alt="" title="">
                          </a>
                          <a href="https://www.docker.com/" target="_blank">
                            <img class="w-12 h-12" src="assets/icons/rapidminer.png" alt="" title="">
                          </a>
                        </div>
                    </div>
                </div>
            </div>
          </ng-template>
          <ng-template swiperSlide #kobd>
                <div class="flex justify-center items-start md:px-20">
                    <div class="grid grid-cols-1 gap-8 md:grid-cols-1 lg:grid-cols-2">
                        <div class="flex justify-center items-center">
                            <swiper [loop]="true" [autoplay]="{ delay: 1000, disableOnInteraction: false }" [slidesPerView]="1" class="h-64 md:h-96 w-full">
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/kobd1.png');">
                                        <a href="https://kobd.io/home" target="_blank" class="btn submit-btn border-2 border-white hover:bg-white hover:border-white hover:text-black font-bold py-2 px-4">
                                            <span class="techText">View more</span>
                                        </a>
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/kobd2.png');">
                                        <a href="https://kobd.io/home/1/taleOfTheTape" target="_blank" class="btn submit-btn border-2 bg-white text-black border-white hover:bg-black hover:border-black hover:text-white font-bold py-2 px-4">
                                            <span class="techText">View more</span>
                                        </a>
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/kobd3.png');">
                                        <a href="https://kobd.io/home" target="_blank" class="btn submit-btn border-2 bg-white text-black border-white hover:bg-black hover:border-black hover:text-white font-bold py-2 px-4">
                                            <span class="techText">View more</span>
                                        </a>
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/kobd4.png');">
                                        <a href="https://kobd.io/home" target="_blank" class="btn submit-btn border-2 bg-white text-black border-white hover:bg-black hover:border-black hover:text-white font-bold py-2 px-4">
                                            <span class="techText">View more</span>
                                        </a>
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/kobd5.png');">
                                        <a href="https://kobd.io/home/1/taleOfTheTape" target="_blank" class="btn submit-btn border-2 bg-white text-black border-white hover:bg-black hover:border-black hover:text-white font-bold py-2 px-4">
                                            <span class="techText">View more</span>
                                        </a>
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000"swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/kobd6.png');">
                                        <a href="https://kobd.io/home/1/taleOfTheTape" target="_blank" class="btn submit-btn border-2 bg-white text-black border-white hover:bg-black hover:border-black hover:text-white font-bold py-2 px-4">
                                            <span class="techText">View more</span>
                                        </a>
                                    </div>
                                </ng-template>
                            </swiper>
                        </div>
                        <div class="">
                            <p class="text-white">Sep 2021 - Nov 2022</p>
                            <a href="https://kobd.io/home" target="_blank" class="hover:underline">
                                <p class="text-3xl text-white font-extrabold uppercase">K.O. BOXING DATA</p>
                            </a>
                            <p class="text-md mt-4">
                              KOBD is a startup whose mission is to provide to the users data analysis,
                              statistical information and historical information about boxing,  reliable,
                              attractive and with the best quality in an interactive way and providing a
                              unique experience.
                            </p>
                            <p class="text-md mt-4">
                              I've developed myself here as a cofounder, project manager and frontend developer
                              doing activities as the following:
                            </p>
                            <ul class="list-disc m-5">
                                <li>Business plan creation</li>
                                <li>Project Management with SCRUM</li>
                                <li>Elevator Pitch creation</li>
                                <li>MVP development(Angular, NodeJS, PostgreSQL, MongoDB, GraphQL, Docker, Nginx, etc.)</li>
                                <li>Project Tracking with Youtrack</li>

                                <!-- ... -->
                            </ul>
                            <div class="flex flex-wrap gap-2">
                              <a href="https://angular.io/" target="_blank">
                                  <img class="w-12 h-12" src="assets/icons/angular.png" alt="" title="">
                              </a>
                              <a href="https://nodejs.org/" target="_blank">
                                  <img class="w-12 h-12" src="assets/icons/nodejs.png" alt="" title="">
                              </a>
                              <a href="https://www.postgresql.org/" target="_blank">
                                  <img class="w-12 h-12" src="assets/icons/postgre.png" alt="" title="">
                              </a>
                              <a href="https://www.mongodb.com/" target="_blank">
                                  <img class="w-12 h-12" src="assets/icons/mongodb.png" alt="" title="">
                              </a>
                              <a href="https://graphql.org/" target="_blank">
                                  <img class="w-12 h-12" src="assets/icons/graphql.png" alt="" title="">
                              </a>
                              <a href="https://www.docker.com/" target="_blank">
                                  <img class="w-12 h-12" src="assets/icons/docker.png" alt="" title="">
                              </a>
                              <a href="https://www.nginx.com/" target="_blank">
                                  <img class="w-12 h-12" src="assets/icons/nginx.png" alt="" title="">
                              </a>
                              <a href="https://www.jetbrains.com/es-es/youtrack/" target="_blank">
                                  <img class="w-12 h-12" src="assets/icons/youTrack.png" alt="" title="">
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide #mariachiViajero>
                <div class="flex justify-center items-center md:px-20">
                    <div class="grid grid-cols-1 gap-8 md:grid-cols-1 lg:grid-cols-2">
                        <div class="flex justify-center items-center">
                            <swiper [loop]="true" [autoplay]="{ delay: 1000, disableOnInteraction: false }" [slidesPerView]="1" class="h-64 md:h-96 w-full">
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/mariachi1.png');">
                                        <a href="https://elmariachiviajero.netlify.app/inicio" target="_blank" class="btn submit-btn border-2 bg-white text-black border-white hover:bg-black hover:border-black hover:text-white font-bold py-2 px-4">
                                            <span class="techText">View more</span>
                                        </a>
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/mariachi2.png');">
                                        <a href="https://elmariachiviajero.netlify.app/inicio" target="_blank" class="btn submit-btn border-2 bg-white text-black border-white hover:bg-black hover:border-black hover:text-white font-bold py-2 px-4">
                                            <span class="techText">View more</span>
                                        </a>
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/mariachi3.png');">
                                        <a href="https://elmariachiviajero.netlify.app/inicio" target="_blank" class="btn submit-btn border-2 bg-white text-black border-white hover:bg-black hover:border-black hover:text-white font-bold py-2 px-4">
                                            <span class="techText">View more</span>
                                        </a>
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/mariachi4.png');">
                                        <a href="https://elmariachiviajero.netlify.app/inicio" target="_blank" class="btn submit-btn border-2 bg-white text-black border-white hover:bg-black hover:border-black hover:text-white font-bold py-2 px-4">
                                            <span class="techText">View more</span>
                                        </a>
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/mariachi5.png');">
                                        <a href="https://elmariachiviajero.netlify.app/inicio" target="_blank" class="btn submit-btn border-2 bg-white text-black border-white hover:bg-black hover:border-black hover:text-white font-bold py-2 px-4">
                                            <span class="techText">View more</span>
                                        </a>
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000"swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center flex justify-center items-center" style="background-image: url('assets/img/mariachi6.png');">
                                        <a href="https://elmariachiviajero.netlify.app/inicio" target="_blank" class="btn submit-btn border-2 bg-white text-black border-white hover:bg-black hover:border-black hover:text-white font-bold py-2 px-4">
                                            <span class="techText">View more</span>
                                        </a>
                                    </div>
                                </ng-template>
                            </swiper>
                        </div>
                        <div>
                            <p class="text-white">jan 2022 - Mar 2022</p>
                            <a href="https://elmariachiviajero.netlify.app/inicio" target="_blank" class="hover:underline">
                                <p class="text-3xl text-white font-extrabold uppercase">El Mariachi Viajero</p>
                            </a>
                            <p class="text-md mt-4">
                                "El Mariachi Viajero" is mexican company dedicated to carrying out all types of
                                tourist transport nationwide.
                            </p>
                            <p class="text-md mt-4">
                                I've developed myself here as independent professional performing the role of
                                project manager and frontend developer to do a Landing Page that let them prospect more clientes.
                            </p>
                            <p class="text-md mt-4">
                                The activities I developed here are the following:
                            </p>
                            <ul class="list-disc m-5">
                                <li>Requirements Engineering</li>
                                <li>Web design (Figma) </li>
                                <li>Web development (Angular, NodeJS, HTML, CSS, tailwindCSS)</li>
                                <li>Database design and management (Back4app)</li>
                                <li>Project management with Kanban</li>
                                <!-- ... -->
                            </ul>
                            <div class="flex flex-wrap gap-2">
                                <a href="https://angular.io/" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/angular.png" alt="" title="">
                                </a>
                                <a href="https://nodejs.org/" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/nodejs.png" alt="" title="">
                                </a>
                                <a href="#" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/html.png" alt="" title="">
                                </a>
                                <a href="#" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/css.png" alt="" title="">
                                </a>
                                <a href="https://tailwindcss.com/" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/tailwind.png" alt="" title="">
                                </a>
                                <a href="https://www.figma.com/" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/figma.png" alt="" title="">
                                </a>
                                <a href="https://www.back4app.com/" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/back4app.png" alt="" title="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide #wbc>
                <div class="flex justify-center items-center md:px-20">
                    <div class="grid grid-cols-1 gap-8 md:grid-cols-1 lg:grid-cols-2">
                        <div class="flex justify-center items-center">
                            <swiper [loop]="true" [autoplay]="{ delay: 1000, disableOnInteraction: false }" [slidesPerView]="1" class="h-64 md:h-96 w-full">
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/wbc1.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/wbc2.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/wbc3.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/wbc4.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/wbc5.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000"swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/wbc6.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000"swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/wbc7.png');">
                                    </div>
                                </ng-template>
                            </swiper>
                        </div>
                        <div>
                            <p>Nov 2020 - Sep 2021</p>
                            <p class="text-3xl text-white font-extrabold uppercase">WBC Descriptive Statistics</p>
                            <p class="text-md mt-4">
                                WBC Descriptive Statistics was a project with the purpose of collecting boxing data
                                for analysing it and let the experts in that area emit their forecasts of upcoming
                                bout.
                            </p>
                            <p class="text-md mt-4">
                                I've developed myself here as
                                independent professional performing the role of project manager and frontend developer
                                doing activities as the following:
                            </p>
                            <ul class="list-disc m-5">
                                <li>Requirements Engineering</li>
                                <li>Business management</li>
                                <li>Web design (AdobeXD) </li>
                                <li>Web development (Angular, NodeJS, HTML, CSS)</li>
                                <li>Database design and management (MariaDB)</li>
                                <li>Project tracking with monday and Youtrack</li>
                                <li>Agile and waterfall methodology implementation</li>
                                <!-- ... -->
                            </ul>
                            <div class="flex flex-wrap gap-2">
                                <a href="https://angular.io/" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/angular.png" alt="" title="">
                                </a>
                                <a href="https://nodejs.org/" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/nodejs.png" alt="" title="">
                                </a>
                                <a href="#" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/html.png" alt="" title="">
                                </a>
                                <a href="#" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/css.png" alt="" title="">
                                </a>
                                <a href="https://mariadb.org/" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/mariadb.png" alt="" title="">
                                </a>
                                <a href="https://www.adobe.com/" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/adobeXD.png" alt="" title="">
                                </a>
                                <a href="https://monday.com/" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/monday.png" alt="" title="">
                                </a>
                                <a href="https://www.jetbrains.com/es-es/youtrack/" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/youTrack.png" alt="" title="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide #sapcv>
                <div class="flex justify-center items-center md:px-20">
                    <div class="grid grid-cols-1 gap-8 md:grid-cols-1 lg:grid-cols-2">
                        <div class="flex justify-center items-center">
                            <swiper [loop]="true" [autoplay]="{ delay: 1000, disableOnInteraction: false }" [slidesPerView]="1" class="h-64 md:h-96 w-full">
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/sapcv1.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/sapcv2.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/sapcv3.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/sapcv4.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/sapcv5.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000"swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/sapcv6.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000"swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/sapcv7.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000"swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/sapcv8.png');">
                                    </div>
                                </ng-template>
                            </swiper>
                        </div>
                        <div>
                            <p class="text-white">Sep 2018 - Jan 2019</p>
                            <p class="text-3xl text-white font-extrabold uppercase">SAPCV</p>
                            <p class="text-md mt-4">SAPCV is a platform to evaluate the performance of teachers in charge of
                                teaching classes in the virtual modality at CECyT 9 "Juan de Dios Bátiz", IPN.
                            </p>
                            <p class="text-md mt-4">
                                This platform was one of the activities that the head of area entrust me as part
                                of my  "servicio social".
                            </p>
                            <p class="text-md mt-4">
                                I've developed myself here as a project manager and fullstack developer doing activities
                                as the following:
                            </p>
                            <p class="mt-5">Carry out the Software Development Life Cycle</p>
                            <ul class="list-disc m-5">
                                <li>Planning</li>
                                <li>Analysis </li>
                                <li>Design</li>
                                <li>Development (Javascript, NodeJS, MySQL, HTML, CSS, Bootstrap)</li>
                                <li>Testing</li>
                                <li>Implementation</li>
                                <li>Maintenance</li>
                            </ul>
                            <div class="flex flex-wrap gap-2">
                                <a href="https://www.javascript.com/" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/javascript.png" alt="" title="">
                                </a>
                                <a href="https://nodejs.org/es/" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/nodejs.png" alt="" title="">
                                </a>
                                <a href="https://www.mysql.com/" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/mysql.png" alt="" title="">
                                </a>
                                <a href="#" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/html.png" alt="" title="">
                                </a>
                                <a href="#" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/css.png" alt="" title="">
                                </a>
                                <a href="https://getbootstrap.com/" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/bootstrap.png" alt="" title="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>
    <app-footer [footerColor]=1></app-footer>
</main>
