<app-nav [navColor]=1></app-nav>
<main class="flex flex-col w-full min-h-screen justify-between">
    <div class="flex-grow flex-shrink-0 py-10 px-10 md:px-14 md:py-20 lg:px-10 lg:py-10 bg-black">
        <swiper [navigation]="true" [pagination]="true" class="mySwiper">
            <ng-template swiperSlide #kobd>
                <div class="flex justify-center items-start md:px-20">
                    <div class="grid grid-cols-1 gap-8 md:grid-cols-1 lg:grid-cols-2">
                        <div class="flex justify-center items-center">
                            <swiper [loop]="true" [autoplay]="{ delay: 1000, disableOnInteraction: false }" [slidesPerView]="1" class="h-64 md:h-96 w-full">
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/kobd1.png');"> 
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/kobd2.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/kobd3.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/kobd4.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/kobd5.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000"swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/kobd6.png');">
                                    </div>
                                </ng-template>
                            </swiper>
                        </div>
                        <div class="">
                            <p class="text-white">Sep 2021 - Present</p>
                            <p class="text-3xl text-white font-extrabold uppercase">K.O. BOXING DATA</p>
                            <p class="text-md mt-4">
                                KOBD is a startup whose mission is to provide to the users data analysis, 
                                statistical information and historical information about boxing,  reliable,
                                attractive and with the best quality in an interactive way and providing a
                                unique experience.
                            </p>
                            <p class="text-md mt-4">
                                I develop myself here as a cofounder, project manager and frontend developer 
                                doing activities as the following:
                            </p>
                            <ul class="list-disc m-5">
                                <li>Business plan creation</li>
                                <li>Project Management with SCRUM</li>
                                <li>Elevator Pitch creation</li>
                                <li>MVP development(Angular, NodeJS, PostgreSQL, MongoDB, GraphQL, Docker, Nginx, etc.)</li>
                                <li>Project Tracking with Youtrack</li>
                            
                                <!-- ... -->
                            </ul>
                            <div class="flex flex-wrap gap-2">
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/angular.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/nodejs.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/postgre.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/mongodb.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/graphql.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/docker.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/nginx.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/youTrack.png" alt="" title="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide #mariachiViajero>
                <div class="flex justify-center items-center md:px-20">
                    <div class="grid grid-cols-1 gap-8 md:grid-cols-1 lg:grid-cols-2">
                        <div class="flex justify-center items-center">
                            <swiper [loop]="true" [autoplay]="{ delay: 1000, disableOnInteraction: false }" [slidesPerView]="1" class="h-64 md:h-96 w-full">
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/mariachi1.png');"> 
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/mariachi2.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/mariachi3.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/mariachi4.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/mariachi5.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000"swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/mariachi6.png');">
                                    </div>
                                </ng-template>
                            </swiper>
                        </div>
                        <div>
                            <p class="text-white">jan 2022 - Mar 2022</p>
                            <p class="text-3xl text-white font-extrabold uppercase">El Mariachi Viajero</p>
                            <p class="text-md mt-4">
                                "El Mariachi Viajero" is mexican company dedicated to carrying out all types of 
                                tourist transport nationwide. 
                            </p>
                            <p class="text-md mt-4">
                                I develop myself here as independent professional performing the role of 
                                project manager and frontend developer to do a Landing Page that let them prospect more clientes.
                            </p>
                            <p class="text-md mt-4">
                                The activities I developed here are the following:
                            </p>
                            <ul class="list-disc m-5">
                                <li>Requirements Engineering</li>
                                <li>Web design (Figma) </li>
                                <li>Web development (Angular, NodeJS, HTML, CSS, tailwindCSS)</li>
                                <li>Database design and management (Back4app)</li>
                                <li>Project management with Kanban</li>
                                <!-- ... -->
                            </ul>
                            <div class="flex flex-wrap gap-2">
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/angular.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/nodejs.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/html.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/css.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/tailwind.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/figma.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/back4app.png" alt="" title="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide #wbc>
                <div class="flex justify-center items-center md:px-20">
                    <div class="grid grid-cols-1 gap-8 md:grid-cols-1 lg:grid-cols-2">
                        <div class="flex justify-center items-center">
                            <swiper [loop]="true" [autoplay]="{ delay: 1000, disableOnInteraction: false }" [slidesPerView]="1" class="h-64 md:h-96 w-full">
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/wbc1.png');"> 
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/wbc2.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/wbc3.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/wbc4.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/wbc5.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000"swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/wbc6.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000"swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/wbc7.png');">
                                    </div>
                                </ng-template>
                            </swiper>
                        </div>
                        <div>
                            <p>Nov 2020 - Sep 2021</p>
                            <p class="text-3xl text-white font-extrabold uppercase">WBC Descriptive Statistics</p>
                            <p class="text-md mt-4">
                                WBC Descriptive Statistics was a project with the purpose of collecting boxing data
                                for analysing it and let the experts in that area emit their forecasts of upcoming
                                bout.
                            </p>
                            <p class="text-md mt-4">
                                I develop myself here as 
                                independent professional performing the role of project manager and frontend developer 
                                doing activities as the following:
                            </p>
                            <ul class="list-disc m-5">
                                <li>Requirements Engineering</li>
                                <li>Business management</li>
                                <li>Web design (AdobeXD) </li>
                                <li>Web development (Angular, NodeJS, HTML, CSS)</li>
                                <li>Database design and management (MariaDB)</li>
                                <li>Project tracking with monday and Youtrack</li>
                                <li>Agile and waterfall methodology implementation</li>
                                <!-- ... -->
                            </ul>
                            <div class="flex flex-wrap gap-2">
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/angular.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/nodejs.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/html.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/css.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/mariadb.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/adobeXD.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/monday.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/youTrack.png" alt="" title="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide #sapcv>
                <div class="flex justify-center items-center md:px-20">
                    <div class="grid grid-cols-1 gap-8 md:grid-cols-1 lg:grid-cols-2">
                        <div class="flex justify-center items-center">
                            <swiper [loop]="true" [autoplay]="{ delay: 1000, disableOnInteraction: false }" [slidesPerView]="1" class="h-64 md:h-96 w-full">
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/sapcv1.png');"> 
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/sapcv2.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/sapcv3.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/sapcv4.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000" swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/sapcv5.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000"swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/sapcv6.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000"swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/sapcv7.png');">
                                    </div>
                                </ng-template>
                                <ng-template data-swiper-autoplay="2000"swiperSlide>
                                    <div class="w-full h-full bg-cover bg-center" style="background-image: url('assets/img/sapcv8.png');">
                                    </div>
                                </ng-template>
                            </swiper>
                        </div>
                        <div>
                            <p class="text-white">sep 2018 - ene 2021</p>
                            <p class="text-3xl text-white font-extrabold uppercase">SAPCV</p>
                            <p class="text-md mt-4">SAPCV is a platform to evaluate the performance of teachers in charge of 
                                teaching classes in the virtual modality at CECyT 9 "Juan de Dios Bátiz", IPN.
                            </p>
                            <p class="text-md mt-4">
                                This platform was one of the activities that the head of area entrust me as part 
                                of my  "servicio social".
                            </p>
                            <p class="text-md mt-4">
                                I develop myself here as a project manager and fullstack developer doing activities
                                as the following:
                            </p>
                            <p class="mt-5">Carry out the Software Development Life Cycle</p>
                            <ul class="list-disc m-5">
                                <li>Planning</li>
                                <li>Analysis </li>
                                <li>Design</li>
                                <li>Development (Javascript, NodeJS, MySQL, HTML, CSS, Bootstrap)</li>
                                <li>Testing</li>
                                <li>Implementation</li>
                                <li>Maintenance</li>
                            </ul>
                            <div class="flex flex-wrap gap-2">
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/javascript.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/nodejs.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/mysql.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/html.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/css.png" alt="" title="">
                                </a>
                                <a href="" target="_blank">
                                    <img class="w-12 h-12" src="assets/icons/bootstrap.png" alt="" title="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>
    <app-footer [footerColor]=1></app-footer>
</main>